@import "tailwindcss";

@theme {
  --color-duo-green: #58CC02;
  --color-duo-blue: #1CB0F6;
  --color-duo-yellow: #FFC800;
  --color-duo-red: #FF4B4B;
  --color-duo-gray: #F7F7F7;
  
  --font-sans: "Nunito", sans-serif;
}

body {
  @apply bg-duo-gray font-sans text-gray-800;
}
