@import "tailwindcss";

@theme {
  --color-duo-green: #58CC02;
  --color-duo-blue: #1CB0F6;
  --color-duo-yellow: #FFC800;
  --color-duo-red: #FF4B4B;
  --color-duo-gray: #F7F7F7;
  
  --font-sans: "Nunito", sans-serif;
}

body {
  @apply bg-duo-gray font-sans text-gray-800 overflow-hidden;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Page Transitions */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}